footer{
    position: absolute;
    bottom: 0;
    @include  box(100vw, 10vh);
    div.introduction{
        border-radius: 30px;
        @include posCenter(7vw, 4.5vh);
        @include box(14vw, 9vh);
        display: flex;
        justify-content: center;
        text-align: center;
        @include transition(background 0.6s ease);
        a{
            text-decoration: none;
            color: #242424;
            p{
                font-size: 0.21rem;
                font-weight: bold;
            }
            span{
                font-size: 0.1rem;
            }
        }
        &:hover{
            background: #ebebeb;
        }
    }
}